@import '../../variables.scss';
.link {
  color: #000;
  margin-left: 22px;
  background-color: #fff !important;

  svg {
    width: 22px;
    height: 22px;
  }

  &:active {
    color: #000;
    opacity: 0.5;
  }
}

.list {
  display: flex;
  align-items: center;
  position: relative;
}

.sublist {
  width: 230px !important;
  height: auto !important;
  display: flex;
  flex-direction: column;
  left: -120px !important;

  &::after,
  &::before {
    left: 90% !important;
  }
}

.mobile__container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 44px;
  background-color: #fff;
  border-top: 1px solid $border;
  width: 100%;
}

.mobile__list {
  display: flex;
  height: 100%;
}

.mobile__item {
  flex: 1;

  svg {
    width: 24px;
    height: 24px;
  }
}

.mobile__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  button {
    width: 100%;
    height: 100%;
  }
}

.input {
  display: none;
}
