@import '../../variables.scss';

.header {
  position: relative;
  z-index: 2000;
}

.dummy {
  height: 54px;

  @media (max-width: $md2+px) {
    height: 44px;
  }
}

.wrapper {
  height: 54px;
  border-bottom: 1px solid $border;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  @media (max-width: $md2+px) {
    height: 44px;
  }
}

.container {
  max-width: $md1 + px;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media (max-width: 450px) {
    padding: 0 10px;
  }
}

.logo {
  width: 70px;
  height: 44px;

  &:active {
    opacity: 0.5;
  }
}

.logo__link {
}

.btn {
  background: none;

  svg {
    height: 24px;
    width: 24px;
  }
}
