@import '../../variables.scss';
.sugest {
  color: $text2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.aside {
  position: sticky;
  top: 53px;
  @media (max-width: $md1+px) {
    display: none;
  }
}
