@import '../../variables.scss';
.header {
  padding: 16px;
}

.header__fullpost {
  border-bottom: 1px solid $border;
}

.container__fullpost {
  padding-top: 40px;
}

.middle {
  padding: 4px 16px 8px 16px;
}

.comments {
  margin-top: 10px;
}

.comment {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.caption {
  margin-top: 8px;
  font-size: 20px;
}

.fullpost {
  display: flex;

  @media (max-width: $md2+px) {
    flex-direction: column;
  }
}

.paper__modalpost {
  border: 0px !important;
  border-radius: 0px !important;
}

.container__modalpost {
  padding-top: 0;
}

.img__fullpost {
  flex: 0 1 100%;
  border-right: 1px solid $border;
}

.img__modalpost {
  border-right: 0px !important;
}

.fullpost__right {
  flex: 1 0 33.333%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.fullpost__input {
  border-bottom: 1px solid $border;
}

.modal__close {
  position: fixed;
  right: 12px;
  top: 12px;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  path {
    stroke: #fff;
  }
}

.comments__link {
  font-size: 12px;
  color: $text2;
}

.comments__fullpost {
  position: relative;
  height: 100%;
  overflow: hidden;
  min-height: 120px;
}

.middle__fullpost {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.controls__fullpost {
  order: -1;
}

.comments__list {
  position: absolute;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}
