@import './variables.scss';

body {
  color: $text1;
  background-color: $bg;
  min-width: $minWidth;
}

.container {
  max-width: $md1 + px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 450px) {
    padding: 0 10px;
  }
}

a {
  color: $blue;
  font-weight: 500;
  transition: color 0.1s ease;

  &:active {
    color: $active;
  }
}
