$minWidth: 320px;
$maxWidthContainer: 935;
$md1: $maxWidthContainer + 40;
$md2: 767.98;
$md3: 479.98;
$blue: #0095f6;
$bg: #fafafa;
$text1: #262626;
$text2: #8e8e8e;
$link-color: #00376b;
$active: #afdafb;
$red: #ed4956;
$border: rgb(219, 219, 219);
